# ─── API Gateway ────────────────────────────────────────────────────────────
PORT=3000
NODE_ENV=development

# ─── Product Service ─────────────────────────────────────────────────────────
PRODUCT_SERVICE_HOST=localhost
PRODUCT_SERVICE_PORT=3001

# ─── Order Service ───────────────────────────────────────────────────────────
ORDER_SERVICE_HOST=localhost
ORDER_SERVICE_PORT=3002

# ─── MongoDB ─────────────────────────────────────────────────────────────────
MONGODB_URI=mongodb://root:rootpassword@localhost:27017/order_tracker?authSource=admin

# ─── Redis ───────────────────────────────────────────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6379

# ─── RabbitMQ ────────────────────────────────────────────────────────────────
RABBITMQ_URL=amqp://guest:guest@localhost:5672
